# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
src/api-test.mjs
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
replit.nix
.replit
.cache
.upm
.config