#preload {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 100%;
  background: #202020;
  position: fixed;
  z-index: 9999;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#smile {
  transition: 0.3s;
}
