@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 200px) {
  * {
    display: none;
  }
}

*:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  @apply w-[6px];
}

::-webkit-scrollbar-track {
  @apply bg-[#272727];
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-[#161616];
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply font-["Poppins"];
  }
  ,
  html,
  *,
  div,
  a,
  button {
    -webkit-tap-highlight-color: transparent !important;
  }
}

.custom-transition {
  transition: all 0.3s ease;
}

.dot5-transition {
  transition: all 0.5s ease;
}

#upButton {
  transition:
    margin 0.4s ease-out,
    transform 0.3s,
    background-color 0.4s;
}

.social {
  @apply flex h-[37px] w-[37px] items-center justify-center rounded-lg bg-[#373737] p-4 text-3xl shadow-md hover:scale-110 hover:bg-[#303030];
  transition: all 0.15s ease;
}

.mnshadow {
  box-shadow: 10px 10px 240px 40px black;
}

.skills {
  @apply w-[30px] grayscale invert;
}

#name {
  background: #9ce9e4;
  background: linear-gradient(to right, #32c9bf 17%, #00b3ff 76%, #31aadf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hovScale {
  @apply hover:text-[19px];
  transition: all 0.1s ease-out;
}

.hovScale:hover {
  transition: all 0.15s ease-out;
}

.btn {
  @apply custom-transition flex items-center gap-2 rounded-md border-[1px] bg-transparent px-3 py-2 text-sm text-gray-100 shadow-md hover:border-sky-600 hover:bg-sky-600 md:text-lg lg:text-xl;
}

.small-btn {
  @apply custom-transition flex items-center gap-2 rounded-md border-[1px] bg-transparent px-2 py-1 text-sm text-gray-100 shadow-md hover:border-sky-600 hover:bg-sky-600 md:text-lg;
}

.btn,
.small-btn,
img {
  @apply selection:bg-transparent;
}

#mobileMenuToggle {
  transition: all 0.4s ease-out;
}
